body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #f0e9e9;
    min-height: 100vh;
  }
  .item {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
  }
  .header {
    background-color: rgb(242, 9, 9);
    color: white;
  }
  .sidebar {
    background-color: rgb(4, 147, 4);
    color: white;
  }
  .main {
    background-color: rgb(7, 7, 250);
    color: white;
  }
  .footer {
    background-color: rgb(168, 77, 13);
    color: white;
  } 
  
  
  /* responsive */

  
  @media screen and (min-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "header header header"
        "sidebar main main"
        "footer footer footer";
    }
  }