* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body,
  html {
    height: 100%;
    width: 100%;
  }
  .container {
    height: 100%;
    display: flex;
    color: #fff;
  }
  .footer,
  .header {
    background-color: #212121;
    padding: 20px;
  }
  .main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .side1,
  .side2 {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .side1 {
    background-color: #76ec76;
  }
  .side2 {
    background-color: rgb(250, 166, 10);
  }


  
  @media screen and (max-width: 500px) {
    .container,
    .main {
      flex-direction: column;
    }
    .header {
      display: flex;
      justify-content: center;
    }
    .side1,
    .side2 {
      align-items: center;
    }
    .footer {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }