* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    width: 100%;
  }
  
  .gallery {
    width: 100%;
  }
  
  .gallery img {
    display: inline;
    margin: 10px;
    width: 30%;
  }
  
  @media screen and (max-width: 800px) {
    .gallery img {
      width: 45%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .gallery img {
      width: 100%;
    }
  }